<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/Joshuavarghese527">Joshua Varghese</a>. A web developer who wants to share his ideas of applications so that others can show their love and compassion for people who are in need or in misery. 
  </p>
  <br />
  
 <div class="col-xs-12 col-sm-4">
    <%= image_tag 'joshua_varghese.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Joshua Varghese</h2>
    <br />
    <p>
   Joshua Varghese is pursing an engineering degree at The City College of New York. My driven skills and talents have placed a passion within me to bring to the world the idea of helping those that are poor and for those that are unrecongized by the world. Join me on my jounrey of rescuing those that are need through the use of web applications. 
</p>
  </div>
  
  </div>

<br class="clear" />
<br />
<br />
<br />
<br />

